.App {
  text-align: center;

}

.task{
  padding: 5px;
  font-size: 1rem;
}

button{
  padding: 5px;
  font-size: 1rem;
  margin-left:10px;
}
ul{
  margin-right: 45px ;
}
li{
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}


